<%- include('../partials/header') %>
<div class="container text-center mt-5">
    <h1>Checkout Cancelled</h1>
    <p>You cancelled the payment process. No items were charged.</p>
    <a href="/cart" class="btn btn-warning">Return to Cart</a>
</div>
<%- include('../partials/footer') %>